In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load 
enroll1516_data_to_load = "SCHOOL_ENROLL.xls"
enroll1617_data_to_load = "1617_SCHOOL_ENROLL.xls"
enroll1718_data_to_load = "17-18_Enrollment_Building.xlsx"

In [ ]:
VA1516_data_to_load = "1516_VA_org_DETAILS.xls"
VA1617_data_to_load = "1617_VA_org_DETAILS.xls"
VA1718_data_to_load = "1718_VA_ORG_DETAILS.xlsx"

In [ ]:
PI1516_data_to_load = "1516_BUILDING_ACHIEVEMENT.xls"
PI1617_data_to_load = "1617_BUILDING_ACHIEVEMENT.xls"
PI1718_data_to_load = "17-18_Achievement_Building.xlsx"

In [2]:
# Read School and Student Data File and store into Pandas Data Frames
enroll1516_data = pd.read_excel(enroll1516_data_to_load)
enroll1617_data = pd.read_excel(enroll1617_data_to_load)
enroll1718_data = pd.read_excel(enroll1718_data_to_load)

In [ ]:
VA1516_data = pd.read_excel(VA1516_data_to_load)
VA1617_data = pd.read_excel(VA1617_data_to_load)
VA1718_data = pd.read_excel(VA1718_data_to_load)

In [ ]:
PI1516_data = pd.read_excel(PI1516_data_to_load)
PI1617_data = pd.read_excel(PI1617_data_to_load)
PI1718_data = pd.read_excel(PI1718_data_to_load)

In [ ]:
enroll1516_data.describe()

In [3]:
enroll1516_data.head()

,District IRN,District Name,Building IRN,Building Name,County,Region,City and Zip Code,Phone #,Principal,School Type,...,Sixth Grade Enrollment,Seventh Grade Enrollment,Eighth Grade Enrollment,Ninth Grade Enrollment,Tenth Grade Enrollment,Eleventh Grade Enrollment,Twelfth Grade Enrollment,Thirteenth Grade Enrollment,Enrollment Past Twelfth Grade (Students with Disabilities),Watermark
0,442,Manchester Local,450,Manchester High School,Adams,Region 14,"Manchester, OH, 45144-9314",(937) 549-4777,James L. Wilkins II,High School,...,NC,69,63,76,66,42,40,NC,<10,NaN
1,442,Manchester Local,451,Manchester Elementary School,Adams,Region 14,"Manchester, OH, 45144-9314",(937) 549-4777,Nicholas K. Roberts,Elementary School,...,69,NC,NC,NC,NC,NC,NC,NC,NC,NaN
2,11506,Dayton Regional STEM School,11506,Dayton Regional STEM School,Montgomery,Region 10,"Kettering, OH, 45420-3662",(937) 256-3777,Hope Strickland,High School,...,105,106,107,85,82,78,60,NC,NC,NaN
3,12391,Metro Early College High School,12391,Metro Early College High School,Franklin,Region 11,"Columbus, OH, 43210-1015",(614) 259-6639,NaN,High School,...,102,111,97,105,98,79,106,NC,NC,NaN
4,13930,Global Impact STEM Academy,13930,Global Impact STEM Academy,Clark,Region 10,"Springfield, OH, 45505-1941",(937) 328-6600,Joshua A. Jennings,High School,...,NC,NC,NC,113,85,60,NC,NC,NC,NaN

In [ ]:
enroll1516_data.dtypes

In [4]:
#filtering results by District
cmsd_1516enroll= enroll1516_data[(enroll1516_data["District IRN"]== 43786)]
cmsd_1516enroll.head()

,District IRN,District Name,Building IRN,Building Name,County,Region,City and Zip Code,Phone #,Principal,School Type,...,Sixth Grade Enrollment,Seventh Grade Enrollment,Eighth Grade Enrollment,Ninth Grade Enrollment,Tenth Grade Enrollment,Eleventh Grade Enrollment,Twelfth Grade Enrollment,Thirteenth Grade Enrollment,Enrollment Past Twelfth Grade (Students with Disabilities),Watermark
271,43786,Cleveland Municipal City,224,Adlai Stevenson School,Cuyahoga,Region 3,"Cleveland, OH, 44122-6441",(216) 482-2950,Christopher T. Wyland,Elementary School,...,33,32,34,NC,NC,NC,NC,NC,NC,NaN
272,43786,Cleveland Municipal City,489,Almira,Cuyahoga,Region 3,"Cleveland, OH, 44102-4642",(216) 838-6150,Laverne Hooks,Elementary School,...,51,53,59,NC,NC,NC,NC,NC,NC,NaN
273,43786,Cleveland Municipal City,729,Andrew J Rickoff,Cuyahoga,Region 3,"Cleveland, OH, 44120-4834",(216) 838-4150,Gloriane R. Smith,Elementary School,...,42,32,53,NC,NC,NC,NC,NC,NC,NaN
274,43786,Cleveland Municipal City,828,Anton Grdina,Cuyahoga,Region 3,"Cleveland, OH, 44104-4101",(216) 812-1543,Harold S. Booker,Elementary School,...,35,24,33,NC,NC,NC,NC,NC,NC,NaN
275,43786,Cleveland Municipal City,1040,Artemus Ward,Cuyahoga,Region 3,"Cleveland, OH, 44135-2128",(216) 920-7055,Chris P. Myslenski,Elementary School,...,43,57,57,NC,NC,NC,NC,NC,NC,NaN

In [17]:
#Function to clean up NC values
def enroll_Replace (df):
    #replace NC values with zero
    df.replace('NC', '0', inplace=True)
    #replace <10 value with zero
    df.replace('^.*<.*$', '0', regex=True, inplace=True)
    #create a new column for enrollment total and use iloc to add
    df[f'Enrollment_Total'] = df.iloc[:, -17:-1].sum(1)
     #create list of columns to drop, then drop
    cols = df.columns
    #force them to be integers
    df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
   
   
    #drop unnecessary columns
    return pd.DataFrame({"Building_Name": df["Building Name"],"Building_IRN": df["Building IRN"], "District_IRN": df["District IRN"], f'Enrollment_Total': df[f'Enrollment_Total']})

In [18]:
cmsd_enroll_data = enroll_Replace(enroll1516_data)
cmsd_enroll_data.head()

   Building_Name  Building_IRN  District_IRN  Enrollment_Total
0            NaN           450           442             356.0
1            NaN           451           442             407.0
2            NaN         11506         11506             623.0
3            NaN         12391         12391             698.0
4            NaN         13930         13930             258.0

In [ ]:
cmsd_enroll_data['Pre-School Enrollment'] = cmsd_enroll_data['Pre-School Enrollment'].apply(int)

In [7]:
 #create list of columns to drop, then drop
    cols = cmsd_1516enroll['Pre-School Enrollment', 'Kindergarten Enrollment',
       'First Grade Enrollment', 'Second Grade Enrollment',
       'Third Grade Enrollment', 'Fourth Grade Enrollment',
       'Fifth Grade Enrollment', 'Sixth Grade Enrollment',
       'Seventh Grade Enrollment', 'Eighth Grade Enrollment',
       'Ninth Grade Enrollment ', 'Tenth Grade Enrollment',
       'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment',
       'Thirteenth Grade Enrollment','Enrollment Past Twelfth Grade (Students with Disabilities)']
    #Turn enrollment columns to numeric
    cmsd_1516enroll[cols] = cmsd_1516enroll[cols].apply(pd.to_numeric, errors='ignore', axis=1)

KeyError: ('Pre-School Enrollment', 'Kindergarten Enrollment', 'First Grade Enrollment', 'Second Grade Enrollment', 'Third Grade Enrollment', 'Fourth Grade Enrollment', 'Fifth Grade Enrollment', 'Sixth Grade Enrollment', 'Seventh Grade Enrollment', 'Eighth Grade Enrollment', 'Ninth Grade Enrollment ', 'Tenth Grade Enrollment', 'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment', 'Thirteenth Grade Enrollment', 'Enrollment Past Twelfth Grade (Students with Disabilities)')

In [ ]:
 #create list of columns to drop, then drop
    cols = cols
    #force them to be integers
    df[cols] = df[cols].apply(pd.to_numeric, errors='coerce')
    year = years

In [ ]:
cmsd_enroll_data.head()

In [9]:
cmsd_enroll_data[['Pre-School Enrollment', 'Kindergarten Enrollment',
       'First Grade Enrollment', 'Second Grade Enrollment',
       'Third Grade Enrollment', 'Fourth Grade Enrollment',
       'Fifth Grade Enrollment', 'Sixth Grade Enrollment',
       'Seventh Grade Enrollment', 'Eighth Grade Enrollment',
       'Ninth Grade Enrollment ', 'Tenth Grade Enrollment',
       'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment',
       'Thirteenth Grade Enrollment','Enrollment Past Twelfth Grade (Students with Disabilities)']] = cmsd_enroll_data[['Pre-School Enrollment', 'Kindergarten Enrollment',
       'First Grade Enrollment', 'Second Grade Enrollment',
       'Third Grade Enrollment', 'Fourth Grade Enrollment',
       'Fifth Grade Enrollment', 'Sixth Grade Enrollment',
       'Seventh Grade Enrollment', 'Eighth Grade Enrollment',
       'Ninth Grade Enrollment ', 'Tenth Grade Enrollment',
       'Eleventh Grade Enrollment', 'Twelfth Grade Enrollment',
       'Thirteenth Grade Enrollment','Enrollment Past Twelfth Grade (Students with Disabilities)']].apply(pd.to_numeric, errors='coerce')
cmsd_enroll_data.head()

KeyError: "['Pre-School Enrollment' 'Kindergarten Enrollment'\n 'First Grade Enrollment' 'Second Grade Enrollment'\n 'Third Grade Enrollment' 'Fourth Grade Enrollment'\n 'Fifth Grade Enrollment' 'Sixth Grade Enrollment'\n 'Seventh Grade Enrollment' 'Eighth Grade Enrollment'\n 'Ninth Grade Enrollment ' 'Tenth Grade Enrollment'\n 'Eleventh Grade Enrollment' 'Twelfth Grade Enrollment'\n 'Thirteenth Grade Enrollment'\n 'Enrollment Past Twelfth Grade (Students with Disabilities)'] not in index"

In [10]:
#school_passing_math = school_data_complete[(school_data_complete["math_score"] 
cmsd_1718enroll= enroll1516_data[(enroll1516_data["District IRN"]== 43786)]
cmsd_1718enroll

,District IRN,District Name,Building IRN,Building Name,County,Region,City and Zip Code,Phone #,Principal,School Type,...,Seventh Grade Enrollment,Eighth Grade Enrollment,Ninth Grade Enrollment,Tenth Grade Enrollment,Eleventh Grade Enrollment,Twelfth Grade Enrollment,Thirteenth Grade Enrollment,Enrollment Past Twelfth Grade (Students with Disabilities),Watermark,Enrollment_Total
271,43786,Cleveland Municipal City,224,Adlai Stevenson School,Cuyahoga,Region 3,"Cleveland, OH, 44122-6441",(216) 482-2950,Christopher T. Wyland,Elementary School,...,32,34,0,0,0,0,0,0,NaN,4.505348e+24
272,43786,Cleveland Municipal City,489,Almira,Cuyahoga,Region 3,"Cleveland, OH, 44102-4642",(216) 838-6150,Laverne Hooks,Elementary School,...,53,59,0,0,0,0,0,0,NaN,1.305743e+24
273,43786,Cleveland Municipal City,729,Andrew J Rickoff,Cuyahoga,Region 3,"Cleveland, OH, 44120-4834",(216) 838-4150,Gloriane R. Smith,Elementary School,...,32,53,0,0,0,0,0,0,NaN,3.306553e+24
274,43786,Cleveland Municipal City,828,Anton Grdina,Cuyahoga,Region 3,"Cleveland, OH, 44104-4101",(216) 812-1543,Harold S. Booker,Elementary School,...,24,33,0,0,0,0,0,0,NaN,2.404653e+24
275,43786,Cleveland Municipal City,1040,Artemus Ward,Cuyahoga,Region 3,"Cleveland, OH, 44135-2128",(216) 920-7055,Chris P. Myslenski,Elementary School,...,57,57,0,0,0,0,0,0,NaN,3.206253e+24
276,43786,Cleveland Municipal City,2378,Benjamin Franklin,Cuyahoga,Region 3,"Cleveland, OH, 44109-4460",(216) 749-8580,Rachel J. Snider,Elementary School,...,76,54,0,0,0,0,0,0,NaN,3.605463e+24
277,43786,Cleveland Municipal City,3137,Bolton,Cuyahoga,Region 3,"Cleveland, OH, 44106-3519",(216) 231-2585,Juliet M. King,Elementary School,...,27,29,0,0,0,0,0,0,NaN,3.705436e+24
278,43786,Cleveland Municipal City,4234,Buhrer,Cuyahoga,Region 3,"Cleveland, OH, 44109-1747",(216) 744-2800,michele sanchez,Elementary School,...,33,49,0,0,0,0,0,0,NaN,1.704750e+24
279,43786,Cleveland Municipal City,5066,Case,Cuyahoga,Region 3,"Cleveland, OH, 44103-1128",(216) 838-1350,Brandee M. Carson-jones,Elementary School,...,33,33,0,0,0,0,0,0,NaN,1.804844e+24
280,43786,Cleveland Municipal City,5637,Alfred Benesch,Cuyahoga,Region 3,"Cleveland, OH, 44104-4409",(216) 431-4410,Latosha M. Glass,Elementary School,...,34,37,0,0,0,0,0,0,NaN,5.149515e+21
281,43786,Cleveland Municipal City,5892,Charles A Mooney School,Cuyahoga,Region 3,"Cleveland, OH, 44109-4121",(216) 741-1183,Brynn M. Morris,Elementary School,...,61,63,0,0,0,0,0,0,NaN,3.504844e+24
282,43786,Cleveland Municipal City,5900,Charles Dickens School,Cuyahoga,Region 3,"Cleveland, OH, 44105-2919",(216) 482-2890,Lisa M. Hill-Braxton,Elementary School,...,50,41,0,0,0,0,0,0,NaN,4.546493e+21
283,43786,Cleveland Municipal City,5942,Charles W Eliot School,Cuyahoga,Region 3,"Cleveland, OH, 44128-2427",(216) 752-0100,IVY G. Wheeler,Elementary School,...,39,36,0,0,0,0,0,0,NaN,2.103631e+24
284,43786,Cleveland Municipal City,6353,Clara E Westropp School,Cuyahoga,Region 3,"Cleveland, OH, 44135-1029",(216) 267-3706,Francie M. Watson,Elementary School,...,46,31,0,0,0,0,0,0,NaN,2.603846e+24
285,43786,Cleveland Municipal City,6429,Clark School,Cuyahoga,Region 3,"Cleveland, OH, 44102-4569",(216) 631-2760,Amanda D. Rodriguez,Elementary School,...,52,56,0,0,0,0,0,0,NaN,2.106881e+24
286,43786,Cleveland Municipal City,6940,Collinwood High School,Cuyahoga,Region 3,"Cleveland, OH, 44110-3012",(216) 268-6052,Maria A. Carlson,High School,...,0,0,136,84,79,116,21,0,NaN,1.368479e+12
287,43786,Cleveland Municipal City,8060,Daniel E Morgan School,Cuyahoga,Region 3,"Cleveland, OH, 44106-1033",(216) 983-8300,Dessie M. Sanders,Elementary School,...,37,37,0,0,0,0,0,0,NaN,1.803229e+24
288,43786,Cleveland Municipal City,8383,Denison,Cuyahoga,Region 3,"Cleveland, OH, 44109-2572",(216) 741-2916,Sonja T. Thornton-Clark,Elementary School,...,44,36,0,0,0,0,0,0,NaN,4.140475e+21
289,43786,Cleveland Municipal City,8490,Cleveland School of Arts Lower Campus,Cuyahoga,Region 3,"Cleveland, OH, 44104-1816",(216) 361-0708,Alisha Starks,Elementary School,...,0,0,0,0,0,0,0,0,NaN,2.005040e+22
290,43786,Cleveland Municipal City,8680,Memorial School,Cuyahoga,Region 3,"Cleveland, OH, 44110-1729",(216) 692-4180,Michelle N. Person,Elementary School,...,39,25,0,0,0,0,0,0,NaN,4.803649e+24
291,43786,Cleveland Municipal City,8987,East Clark,Cuyahoga,Region 3,"Cleveland, OH, 44110-3701",(216) 588-0225,Lisa M. Adams,Elementary School,...,31,19,0,0,0,0,0,0,NaN,1.502926e+24
292,43786,Cleveland Municipal City,9285,Douglas MacArthur,Cuyahoga,Region 3,"Cleveland, OH, 44135-1049",(216) 267-5969,VICTORIA S. King,Elementary School,...,40,18,0,0,0,0,0,0,NaN,2.104143e+24
293,43786,Cleveland Municipal City,9421,Ginn Academy,Cuyahoga,Region 3,"Cleveland, OH, 44110-2421",(216) 531-4466,Nicholas A. Petty,High School,...,0,0,115,99,103,61,0,0,NaN,1.159910e+11
294,43786,Cleveland Municipal City,9555,East Technical High School,Cuyahoga,Region 3,"Cleveland, OH, 44104-1501",(216) 432-4554,Paul J. Hoover,High School,...,0,0,91,86,71,107,13,0,NaN,9.186711e+11
295,43786,Cleveland Municipal City,10200,MC^2 STEM High School,Cuyahoga,Region 3,"Cleveland, OH, 44114-1021",(216) 592-6875,Feowyn A. Mackinnon,High School,...,0,0,117,102,95,80,0,0,NaN,1.171030e+11
296,43786,Cleveland Municipal City,10201,Design Lab @ Health Careers,Cuyahoga,Region 3,"Cleveland, OH, 44114-4514",(216) 621-5064,Eric R. Juli,High School,...,0,0,63,58,33,39,0,0,NaN,6.358334e+09
297,43786,Cleveland Municipal City,10801,Euclid Park Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44112-1222",(216) 920-1855,Jennifer R. Woody,Elementary School,...,33,33,0,0,0,0,0,0,NaN,1.904843e+24
298,43786,Cleveland Municipal City,12350,Campus International School,Cuyahoga,Region 3,"Cleveland, OH, 44114-4604",(216) 838-8000,Julie A. Beers,Elementary School,...,45,0,0,0,0,0,0,0,NaN,7.478798e+20
299,43786,Cleveland Municipal City,12352,New Technology West,Cuyahoga,Region 3,"Cleveland, OH, 44111-5064",(216) 281-1030,Erin T. Frew,High School,...,0,0,94,81,57,53,0,0,NaN,9.481575e+09
300,43786,Cleveland Municipal City,12353,New Technology HS@East Tech,Cuyahoga,Region 3,"Cleveland, OH, 44104-1501",(216) 361-3116,Christy P. Nickerson,High School,...,0,0,55,28,24,27,0,0,NaN,5.528243e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,43786,Cleveland Municipal City,31963,Riverside School,Cuyahoga,Region 3,"Cleveland, OH, 44111-1322",(216) 476-6800,Paige M. Baublitz-Watkins,Elementary School,...,65,54,0,0,0,0,0,0,NaN,2.005059e+24
343,43786,Cleveland Municipal City,32060,Robert H Jamison School,Cuyahoga,Region 3,"Cleveland, OH, 44128-1826",(216) 920-1305,Sharon D. Cooper,Elementary School,...,35,40,0,0,0,0,0,0,NaN,1.904648e+24
344,43786,Cleveland Municipal City,32128,Robinson G Jones Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44135-3460",(216) 889-4071,Melissa M. Watts,Elementary School,...,31,56,0,0,0,0,0,0,NaN,5.904849e+24
345,43786,Cleveland Municipal City,33902,Scranton School,Cuyahoga,Region 3,"Cleveland, OH, 44113-5135",(216) 621-2165,Troy P. Beadling,Elementary School,...,50,48,0,0,0,0,0,0,NaN,4.004445e+24
346,43786,Cleveland Municipal City,36475,Sunbeam,Cuyahoga,Region 3,"Cleveland, OH, 44120-1025",(216) 231-0961,Joshua J. Gunvalsen,Elementary School,...,38,25,0,0,0,0,0,0,NaN,4.904441e+24
347,43786,Cleveland Municipal City,37101,Thomas Jefferson School,Cuyahoga,Region 3,"Cleveland, OH, 44102-5913",(216) 404-5098,Marisol E. Burgos,Elementary School,...,47,48,69,68,54,29,0,0,NaN,2.005359e+28
348,43786,Cleveland Municipal City,37457,Tremont Montessori School,Cuyahoga,Region 3,"Cleveland, OH, 44113-4428",(216) 621-2082,Lori A. Haag,Elementary School,...,38,39,0,0,0,0,0,0,NaN,7.407559e+24
349,43786,Cleveland Municipal City,38182,Valley View Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44135-4356",(216) 251-3876,Terrance E. Menefee,Elementary School,...,24,19,0,0,0,0,0,0,NaN,2.001922e+24
350,43786,Cleveland Municipal City,38604,William C Bryant Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44109-5469",(216) 351-6343,Amy M. Mobley,Elementary School,...,52,31,0,0,0,0,0,0,NaN,1.805351e+24
351,43786,Cleveland Municipal City,38927,Wade Park,Cuyahoga,Region 3,"Cleveland, OH, 44103-3304",(216) 920-6945,Lee C. Buddy Jr,Elementary School,...,30,27,0,0,0,0,0,0,NaN,2.004547e+24
352,43786,Cleveland Municipal City,39149,Walton School,Cuyahoga,Region 3,"Cleveland, OH, 44113-4942",(216) 961-1649,Elizabeth Fennell,Elementary School,...,32,23,0,0,0,0,0,0,NaN,2.623292e+21
353,43786,Cleveland Municipal City,39206,Warner Girls Leadership Academy,Cuyahoga,Region 3,"Cleveland, OH, 44105-6558",(216) 206-4620,Audrey D. Staton,Elementary School,...,33,31,0,0,0,0,0,0,NaN,2.005863e+24
354,43786,Cleveland Municipal City,39685,Washington Park,Cuyahoga,Region 3,"Newburgh Heights, OH, 44105-3178",(216) 482-2670,Donald G. Strinka,High School,...,0,0,108,75,51,45,0,0,NaN,1.087551e+10
355,43786,Cleveland Municipal City,39875,Watterson-Lake School,Cuyahoga,Region 3,"Cleveland, OH, 44102-2940",(216) 961-0154,Gretchen W. Liggens,Elementary School,...,12,16,0,0,0,0,0,0,NaN,2.819242e+21
356,43786,Cleveland Municipal City,39891,Waverly Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44102-2940",(216) 634-2121,Sommer L. Edwards,Elementary School,...,14,23,0,0,0,0,0,0,NaN,1.701802e+23
357,43786,Cleveland Municipal City,41236,Wilbur Wright School,Cuyahoga,Region 3,"Cleveland, OH, 44111-3601",(216) 476-4200,Virmeal Finley,Elementary School,...,31,44,0,0,0,0,0,0,NaN,4.305136e+24
358,43786,Cleveland Municipal City,41517,Willow School,Cuyahoga,Region 3,"Cleveland, OH, 44127-1111",(216) 883-6118,Lisa Y. Williams,Elementary School,...,34,29,0,0,0,0,0,0,NaN,1.702229e+24
359,43786,Cleveland Municipal City,41541,Willson School,Cuyahoga,Region 3,"Cleveland, OH, 44108-3322",(216) 920-1207,Dawn M. Hayden,Elementary School,...,36,29,0,0,0,0,0,0,NaN,2.505039e+24
360,43786,Cleveland Municipal City,62315,Lincoln-West High School,Cuyahoga,Region 3,"Cleveland, OH, 44109-1506",(216) 634-2414,Darla M. Hilt,High School,...,0,0,154,198,166,168,30,0,NaN,1.541982e+14
361,43786,Cleveland Municipal City,62323,Whitney Young School,Cuyahoga,Region 3,"Cleveland, OH, 44128-1736",(216) 283-5220,Karen M. Byron-Johnson,High School,...,26,29,29,31,34,16,0,0,NaN,1.119192e+21
362,43786,Cleveland Municipal City,62760,Luis Munoz Marin School,Cuyahoga,Region 3,"Cleveland, OH, 44113-5262",(216) 241-7440,Ricardo A. Torres,Elementary School,...,68,82,0,0,0,0,0,0,NaN,1.804762e+24
363,43786,Cleveland Municipal City,62778,Joseph M Gallagher School,Cuyahoga,Region 3,"Cleveland, OH, 44102-2913",(216) 961-0057,Thomas Kubiak,Elementary School,...,86,74,0,0,0,0,0,0,NaN,5.207283e+24
364,43786,Cleveland Municipal City,63461,Garrett Morgan Schl Of Science School,Cuyahoga,Region 3,"Cleveland, OH, 44113-3286",(216) 281-6188,Yolanda N. Eiland,High School,...,0,0,81,67,55,42,0,0,NaN,8.167554e+09
365,43786,Cleveland Municipal City,64576,Cleveland School Of The Arts High School,Cuyahoga,Region 3,"Cleveland, OH, 44106-3050",(216) 791-2496,John M. LePelley,High School,...,77,84,126,104,101,88,0,0,NaN,7.784126e+16
366,43786,Cleveland Municipal City,65565,Marion C Seltzer Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44102-2616",(216) 631-0678,Caitlin E. Kilbane,Elementary School,...,43,37,0,0,0,0,0,0,NaN,1.704648e+24
367,43786,Cleveland Municipal City,65573,Marion-Sterling Elementary School,Cuyahoga,Region 3,"Cleveland, OH, 44115-3044",(216) 621-0612,Adrianna J. Chestnut,Elementary School,...,27,21,0,0,0,0,0,0,NaN,4.805026e+24
368,43786,Cleveland Municipal City,68221,Kenneth W Clement,Cuyahoga,Region 3,"Cleveland, OH, 44112-1926",(216) 486-5364,Jacky C. Brown,Elementary School,...,19,23,0,0,0,0,0,0,NaN,1.602018e+24
369,43786,Cleveland Municipal City,86306,Health Careers Center High School,Cuyahoga,Region 3,"Cleveland, OH, 44103-4023",(216) 426-7079,Latonia M. Davis,High School,...,0,0,110,140,95,61,25,0,NaN,1.101410e+12
370,43786,Cleveland Municipal City,147389,SuccessTech Academy School,Cuyahoga,Region 3,"Cleveland, OH, 44114-1137",(216) 523-8463,Phillip B. Schwenk,High School,...,0,0,0,0,0,56,18,0,NaN,5.618000e+04
371,43786,Cleveland Municipal City,147397,Cleveland School of Science & Medicine,Cuyahoga,Region 3,"Cleveland, OH, 44106-3051",(216) 229-0070,Edward J. Weber,High School,...,0,0,105,92,99,86,0,0,NaN,1.059300e+10

In [ ]:
district_summary = pd.DataFrame({"Building IRN": [Building_IRN], 
                                 "Building Name": [Building_Name], 
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score], 
                                 "Average Reading Score": [average_reading_score],
                                 "% Passing Math": [passing_math_percentage],
                                 "% Passing Reading": [passing_reading_percentage],
                                 "% Overall Passing Rate": [overall_passing_rate]})

In [ ]:
#Add new column School Year
cmsd_combined_df= cmsd_combined.assign(School_Year = '2015-2016')[['School_Year']+cmsd_combined]

#cmsd_combined_df.head()